.text-title-nav {
    color: #484848;
}

.text-color-primary {
    color: #000;
}

.text-button-primary {
    background-color: #FFECC4
}

.bg-button-primary {
    background-color: #FFECC4
}

.bg-primary-grey {
    background-color: #DDDDDD
}

.bg-search-field {
    background-color: #ECECEC;
}

.bg-select-grey {
    color: #F9F9F9
}

.transition-ease-in-out {
    transition: all 0.35s ease-in-out;
}

.transition-ease-in-ou:hover {
    transition: all 0.35s ease-in-out;
}

.popup-content {
    background-color: white;
    width: 320px;
    padding: 1rem;
    border-radius: 8px;
    transform: scale(0.9);
    /* Start scaled down */
    transition: transform 0.3s ease-in-out;
}


.popup-content.show {
    transform: scale(1);
    /* Scale up to normal size */
}

.home-new-list-product {
    display: flex;
    flex-wrap: wrap;
    /* Cho phép các sản phẩm xuống dòng */
    gap: 16px;
    /* Khoảng cách giữa các sản phẩm */
}

.product_item {
    flex: 1 1 calc(25% - 16px);
    /* Chiếm 25% chiều rộng của container, trừ khoảng cách */
    margin: 8px;
    /* Khoảng cách bên ngoài mỗi sản phẩm */
}

.product_item {
    max-width: calc(25% - 16px);
    /* Đảm bảo không chiếm quá 25% chiều rộng của container */
    box-sizing: border-box;
    /* Bao gồm padding và border trong kích thước tổng cộng */
}




#text-register {
    font-weight: bold;
    color: #FFC64E;
    cursor: pointer;
}

.bg-button-primary {
    background-color: #ffecc4;
}

.bg-primary-grey {
    background-color: #F0F0F0;
}

.bg-search-field {
    background-color: #ececec;
}

.bg-select-grey {
    color: #f9f9f9;
}

.transition-ease-in-out {
    transition: all 0.35s ease-in-out;
}

.transition-ease-in-ou:hover {
    transition: all 0.35s ease-in-out;
}

.popup-content {
    background-color: white;
    width: 320px;
    padding: 1rem;
    border-radius: 8px;
    transform: scale(0.9);
    /* Start scaled down */
    transition: transform 0.3s ease-in-out;
}

.popup-content.show {
    transform: scale(1);
    /* Scale up to normal size */
}

.popup-admin{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20pt;
    width: 60%;
    text-align: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10pt;
    z-index: 1000;
    padding: 12pt;
}



.popup-login {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20pt;
    width: 350pt;
    text-align: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10pt;
    z-index: 1000;
}
.text-black {
    color: black;
}
.popup-register {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20pt;
    width: 350pt;
    text-align: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10pt;
    z-index: 1000;
}

.popup-login input::placeholder {
    color: black;
}

.popup-register input::placeholder{
    color:black;
}
.popup-login input {
    padding: 10pt; /* Thêm padding */
}

.popup-register input {
    padding: 10pt;
}

.bottom-popup-login {
    display: flex;
    gap: 0.5rem;
    padding-bottom: 20pt;
}

.popup-login input {
    width: 85%;
    height: 30pt;
    border-top-left-radius: 10pt;
    border-top-right-radius: 10pt;
    border-bottom: 2px solid #C5C5C5; 
    outline: none;


}

.popup-register input {
    width: 85%;
    height: 30pt;
    border-top-left-radius: 10pt;
    border-top-right-radius: 10pt;
    border-bottom: 2px solid #C5C5C5; 
    outline: none;

}

.btn-continute {
    width: 85%;
    background-color: #ffecc4;
    font-weight: bold;
    font-size: 15pt;
    border-radius: 20pt;
    height: 30pt;
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.button-message{
    width: 85%;
    display: flex;
    justify-content: space-evenly;
}
.btn-message-v1{
    background-color: #ffecc4;
    font-weight: bold;
    font-size: 15pt;
    border-radius: 30pt;
    height: 30pt;
    padding: 0 60px;
    display: flex;
    justify-content: center; 
    align-items: center; 
}


.btn-message-v2{
    background-color: #EDEDED;
    font-weight: bold;
    padding: 0 60px;
    font-size: 15pt;
    border-radius: 20pt;
    height: 30pt;
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.btn-admin{
    width: 85%;
    background-color: #ffecc4;
    font-weight: bold;
    font-size: 15pt;
    border-radius: 20pt;
    height: 30pt;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.btn-admin-s2{
    width: 85%;
    background-color: #EDEDED;
    font-weight: bold;
    font-size: 15pt;
    border-radius: 20pt;
    height: 30pt;
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-bottom: 12pt;
}
.btn-continute-re {
    width: 85%;
    background-color: #ffecc4;
    font-weight: bold;
    border-radius: 20pt;
    font-size: 15pt;
    height: 30pt;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.btn-continute-with-google {
    width: 85%;
    background-color: #F0F0F0;
    border-radius: 20pt;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-continute-with-google img {
    margin-right: 8px; 
    height: 20px; 
    width: auto;
}

.btn-close {
    text-align: end;
    width: 100%;
    /* padding: 10pt; */
    margin-top: 10pt;
    margin-right: 15pt;
    cursor: pointer;
}

.overlay {
    position: fixed; /* Ensure it's fixed to the viewport */
    top: 0;          /* Start at the top */
    left: 0;         /* Start at the left */
    width: 100vw;    /* Cover the entire width */
    height: 100vh;   /* Cover the entire height */
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
}



.bottom-register {
    width: 100%;
    padding: 20pt;
    transform: scale(1);
}

.home-new-list-product {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.product_item {
    flex: 1 1 calc(25% - 16px);
    margin: 8px;
}

.or-text{
    font-size: 15pt;
}
.product_item {
    max-width: calc(25% - 16px);
    box-sizing: border-box;
}

.error-icon {
    color:#FFC989;
  }