.text-title-nav {
    color: #484848;
}

.text-color-primary {
    color: #000;
}

.text-button-primary {
    background-color: #FFECC4
}

.bg-button-primary {
    background-color: #FFECC4
}

.bg-primary-grey {
    background-color: #DDDDDD
}

.bg-search-field {
    background-color: #ECECEC;
}

.bg-select-grey {
    color: #F9F9F9
}

.transition-ease-in-out {
    transition: all 0.35s ease-in-out;   
}

.transition-ease-in-ou:hover {
    transition: all 0.35s ease-in-out;   
}

.popup-content {
    background-color: white;
    width: 320px;
    padding: 1rem;
    border-radius: 8px;
    transform: scale(0.9); /* Start scaled down */
    transition: transform 0.3s ease-in-out;
}


.popup-content.show {
    transform: scale(1); /* Scale up to normal size */
}

.home-new-list-product {
    display: flex;
    flex-wrap: wrap; /* Cho phép các sản phẩm xuống dòng */
    gap: 16px; /* Khoảng cách giữa các sản phẩm */
}

.product_item {
    flex: 1 1 calc(25% - 16px); /* Chiếm 25% chiều rộng của container, trừ khoảng cách */
    margin: 8px; /* Khoảng cách bên ngoài mỗi sản phẩm */
}

.product_item {
    max-width: calc(25% - 16px); /* Đảm bảo không chiếm quá 25% chiều rộng của container */
    box-sizing: border-box; /* Bao gồm padding và border trong kích thước tổng cộng */
}
